.wrapper {
    padding: 40px;
    margin: 0 auto;
}

.catalog {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}

.inner {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 25.625rem;
    height: 24.125rem;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: 0.16);
    transition: background-color 200ms ease-in-out;

    .image {
        width: 100%;
        height: 82%;
        border-radius: 20px;
    }

    border: 3px solid transparent;
    transition: border 0.2s ease;

    &:hover {
        border: 3px solid #299FDD;
    }



    /*&:hover {
        background-color: var(--color-blue-normal);

        .image {
            //transform: scale(1.05);
            //transition: transform .2s;
        }
    }*/

    
}

.subtitle {
    color: var(--color-blue-normal);
    font-size: 1.728rem;
    font-weight: 700;
    line-height: 37px; 
    padding: 1rem;
    margin: 0 auto;
}

.position {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    img {
        border-radius: 5px;
        

    }
}

.service {
    width: 480px;
    height: 300px;
    background-image: url('../assets/pool2.jpg');
}





@media screen and (max-width: 576px) {
    .title {
        font-size: 16px;
        line-height: 24px;
    }

    .description {

    }

    .inner {
        width: 100%;
        height: 270px;
    }

    .catalog {
        grid-template-columns: 1fr;
        margin: auto;
        gap: 10px;
    }

    .position {
        margin: auto;
        gap: 10px;
        width: 100%;

        a{
            width: 100%;
            height: 270px;
        }

        img {
            width: 90%;
            height: 70%;
        }
    }

    .subtitle {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
    .catalog {
        grid-template-columns: 1fr;
        margin: auto;
        gap: 10px;
    }

    .inner {
        width: 100%;
        height: 400px;
    }

    .position {
        margin: auto;
        gap: 10px;
        width: 100%;

        a{
            width: 100%;
            height: 400px;
        }

        img {
            width: 90%;
            height: 70%;
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 1440px) {
    .catalog {
        grid-template-columns: 1fr 1fr;
        margin: auto;
        gap: 10px;
    }
}

@media screen and (min-width: 1441px) and (max-width: 1610px) {
    .inner {
        width: 20.625rem;
        height: 19.125rem;
    }
}