.background {
    position: sticky;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: var(--color-blue-normal);
}

.number {
    color: var(--color-grey);
    margin: 100px;
}

.selector {
    position: relative;
    width: 250px;
    margin: 100px;
    
    border: 0;
    border-radius: 10px;
    

    

    
}

.logo {
    width: 200px;
    height: 70px;
}

.menu {
    display: flex;
    flex-direction: row;
    
    gap: 30px;
}

.point {
    color: white;
    font-weight: 700;
    line-height: 22px;
}

.button {
    background-color: white;
    border: 0;
    border-radius: 10px;
    padding: 1rem 1.5rem;
    font-weight: 700;
}

.closer {
    position: relative;
    width: 35px;
    height: 35px;
    margin: 0 1rem;
    svg {

    }
}

@media screen and (max-width: 576px) {
    .number {
        font-size: 10px;
        margin: 10px;
    }

    a[href^="tel:"] {
        font-size: 12px;
    }

    .selector {
        width: 150px;
        margin: 20px;
        
        font-size: 12px;
    }

    .logo {
        width: 125px;
        height: 35px;
    }

    .button {
        font-size: 10px;
        padding: 0.5rem 0.75rem;
        border-radius: 5px;
    }
}

@media screen and (min-width: 577px) and (max-width: 656px) {
    a[href^="tel:"] {
        margin-right: 20px;
    }
}

@media screen and (min-width: 577px) and (max-width: 815px) {
    a[href^="tel:"] {
        margin: 30px;
        
        font-size: 12px;
    }

    .selector {
        margin: 40px;
        
    }
}

@media screen and (min-width: 816px) and (max-width: 1080px) {
    a[href^="tel:"] {
        margin: 80px;
        font-size: 12px;
    }
}

@media screen and (min-width: 992px) {
    .closer {
        display: none;
    }
}