.wrapper {
    margin: 40px;
}

.inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        
        height: 10rem;
    }

    &:hover {
        img {
            transform: scale(1.1);
            transition: transform .2s;
        }
    }

    .ul {
        ul {
           gap: 10px;
           margin-top: 30px;
           color: var(--color-blue-normal);
        }
    }
}

.block {

}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    padding: 20px 0;
}

.title {
    font-size: 32px;
}

.subtitle {
    font-size: 20px;
}